<div style="width:750px; position: relative;">
  <object width="750" height="400" type="application/x-shockwave-flash" data="http://static.travbuddy.com/flash/countries_map.swf?id=6899777" height="400" width="750">
    <param name="movie" value="http://static.travbuddy.com/flash/countries_map.swf?id=6899777" />
    <param name="quality" value="high" /><param name="bgcolor" value="#372060" />
    <embed src="http://static.travbuddy.com/flash/countries_map.swf?id=6899777" quality="high" bgcolor="#372060" width="750" height="400" type="application/x-shockwave-flash"></embed>
  </object>
  <div style="background-color: #38235b; padding: 5px 0px 5px 0px; text-align: center; width: 749px; border-left: 1px solid #372060; font-size: 11px; color: #EEE; line-height: 1.4em;">
    <a style="font-size: 14px; color: #FFBF42" href="http://www.travbuddy.com/travel-widgets"><strong>Create your own travel map</strong></a> - <a style="font-size: 14px; color: #FFBF42" href="http://www.travbuddy.com"><strong>TravBuddy</strong></a><br/>
  </div>
</div>
